<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<form method="post" th:action="@{/user}">
    <table>
        <tr>
            <label>Enter Name:
                <input th:field="${user.userName}">
                <p th:errors="${user.userName}"></p>
            </label> <br>
        </tr>
        <tr>
            <br> <label>Enter Password:
            <input type="password" th:field="${user.password}">
            <p th:errors="${user.password}"></p>
        </label> <br>
            <br> <label>Verify Password:
            <input type="password" th:field="${user.verifyPassword}">
            <p th:errors="${user.verifyPassword}"></p>
        </label> <br>
        </tr>
        <tr>
            <br> <label>Enter Email:
            <input th:field="${user.email}">
            <p th:errors="${user.email}"></p>
        </label>
        </tr>
        <br>
        <input type="submit" value="Sign Up" class="btn btn success">
        <!--        <p th:if="${error}" th:text="${error}">Error</p>-->
    </table>
</form>

</body>
</html>
