body {
    background-color: pink;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

h1 {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

table {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.targetClass {
    display: flex;
    flex-direction: row;
    width: 300px
    height: 100px
}

.nailStyle1 {
    background-color: blue;
    width: 32%;
     height: 0;
     padding-bottom: 32%

}

.nailStyle2 {
    background-color: green;
    width: 32%;
     height: 0;
     padding-bottom: 32%
}

.nailStyle3 {
    background-color: red;
    width: 32%;
    height: 0;
    padding-bottom: 32%
}


